@charset "utf-8";

/* Main title */
h1 {
	font-family: "Staatliches", cursive;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 8px;
	text-align: center;
	text-shadow: 1px 1px 2px;
}

/* Sub title */
.birthday {
	font-family: "Staatliches", cursive;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
	text-shadow: 1px 1px 2px;
	color: #c62e1d;
	margin-top: -25px;
	margin-bottom: 3%;
}

/* Legend */
ul {
	font-family: "Staatliches", cursive;
	font-size: 23px;
	list-style-type: square;
	list-style-position: inside;
	padding-bottom: 5%;
	text-shadow: 1px 1px 2px;
}

li {
	float: left;
	margin-bottom: 2%;
	margin-right: 2%;
	margin-left: 2%;
}

/* Element's symbol */
.symbol {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

/* Common class of atomic-number, electronegaticity, mass-number */
.informations {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

.atomic-number {
	top: -7px;
	left: 5px;
}

.electronegativity {
	top: -7px;
	right: 5px;
}

.mass-number {
	bottom: -7px;
	right: 5px;
}

.familly {
	position: relative;
 	height: 190px;
 	left: 4.5%;
}

.period {
	margin-left: 2%;
	margin-top: 50px;
	margin-right: 2%;
	height: 15%;
}

/* Spacing between Actninide and Lanthanide area */
#separation {
	margin-top: 70px;
}

/* Empty case */
.case {
	position: relative;
	float: left; /* les cases s'empillent sur la gauche */
	height: 100%;
	width: 5%;
}

/* Inside the case */
.element {
	position: relative;
	margin-right: 5%;
	box-sizing: border-box;
	box-shadow: 1px 1px 3px; 
	border: 1px solid #0000; /* invisible border to give the shape */
	text-align: center;
}

/* Background color for each group */
.other-non-metal {
	background-color: #7ea16b;
}
.other-non-metal-li {
	color: #7ea16b;
}

.alkali-metal {
	background-color: #0b6e4f;
}
.alkali-metal-li {
	color: #0b6e4f;
}

.alkali-earth-metal {
	background-color: #2e5eaa;
}
.alkali-earth-metal-li {
	color: #2e5eaa;
}

.lanthanide {
	background-color: #7b0828;
}
.lanthanide-li {
	color: #7b0828;
}

.actinide {
	background-color: #522b47;
}
.actinide-li {
	color: #522b47;
}

.transition-metal {
	background-color: #011627;
}
.transition-metal-li {
	color: #011627;
}

.post-transition-metal {
	background-color: #ff9f1c;
}
.post-transition-metal-li {
	color: #ff9f1c;
}

.metaloid {
	background-color: #3685b5;
}
.metaloid-li {
	color: #3685b5;
}

.halogen {
	background-color: #b89685;
}
.halogen-li {
	color: #b89685;
}

.noble-gas {
	background-color: #6b0504;
}
.noble-gas-li {
	color: #6b0504;
}

.unknowed {
	background-color: #2a7221;
}
.unknowed-li {
	color: #2a7221;
}